<%= form_with do |f| %>
  <div class="d-flex align-items-center py-3">
    <div>
      <%= f.label :simple, "简体", class: "form-label" %>
      <%= f.text_field :simple, class: "form-control form-control-lg" %>
    </div>
    <div class="mx-5">
      <%= f.button "->", name: "cc_config", value: "s2t", class: "btn btn-primary btn-sm d-block mb-2" %>
      <%= f.button "<-", name: "cc_config", value: "t2s", class: "btn btn-primary btn-sm d-block" %>
    </div>
    <div>
      <%= f.label :tradition, "繁体", class: "form-label" %>
      <%= f.text_field :tradition, class: "form-control form-control-lg" %>
    </div>
  </div>
<% end %>
