<div class="wuge">
  <p>简体: <%= wuge.full_name %></p>
  <p>繁体: <%= wuge.full_traditional_name %></p>
  <p>天格: <%= wuge.tian %></p>
  <p>人格: <%= wuge.ren %></p>
  <p>地格: <%= wuge.di %></p>
  <p>外格: <%= wuge.wai %></p>
  <p>总格: <%= wuge.zong %></p>
</div>
