<div class="wuge">
  <div class="position-relative">
    <div class="position-relative">
      <% wuge.traditional_surname.each_char.with_index do |char, idx| %>
        <div class="char">
          <div class="hanzi"><%= char %></div>
          <div class="strokes">
            <% if wuge.surname.size > 1 %>
              <span><%= wuge.surname_strokes[idx] %></span>
            <% else %>
              <span class="mb-auto">1</span>
              <span><%= wuge.surname_strokes[idx] %></span>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="<%= class_names "annotation", { multi: wuge.surname.size > 1 } %>">
        [天格 <%= wuge.tian %>]
        <span class="mx-3"><%= wuge.tian_wuxing %></span>
        [<%= wuge.tian_shuli[:name] %> - <%= wuge.tian_shuli[:level] %>]
      </div>
    </div>

    <div class="<%= class_names "annotation", "ren", { multi_top: wuge.surname.size > 1, multi_bottom: wuge.name.size > 1 } %>">
      [人格 <%= wuge.ren %>]
      <span class="mx-3"><%= wuge.ren_wuxing %></span>
      [<%= wuge.ren_shuli[:name] %> - <%= wuge.ren_shuli[:level] %>]
    </div>

    <div class="position-relative">
      <% wuge.traditional_name.each_char.with_index do |char, idx| %>
        <div class="char">
          <div class="hanzi"><%= char %></div>
          <div class="strokes">
            <% if wuge.name.size > 1 %>
              <span><%= wuge.name_strokes[idx] %></span>
            <% else %>
              <span class="mb-auto"><%= wuge.name_strokes[idx] %></span>
              <span>1</span>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="<%= class_names "annotation", { multi: wuge.name.size > 1 } %>">
        [地格 <%= wuge.di %>]
        <span class="mx-3"><%= wuge.di_wuxing %></span>
        [<%= wuge.di_shuli[:name] %> - <%= wuge.di_shuli[:level] %>]
      </div>
    </div>

    <div class="annotation wai">
      [外格 <%= wuge.wai %>]
      <span class="mx-3"><%= wuge.wai_wuxing %></span>
      [<%= wuge.wai_shuli[:name] %> - <%= wuge.wai_shuli[:level] %>]
    </div>
  </div>

  <div class="zong">
    [总格 <%= wuge.zong %>]
    <span class="mx-3"><%= wuge.zong_wuxing %></span>
    [<%= wuge.zong_shuli[:name] %> - <%= wuge.zong_shuli[:level] %>]
  </div>
</div>

<div class="row small mb-4">
  <div class="col-md-6">
    <h4>数理</h4>
    <% %w[tian ren di wai zong].each do |ge| %>
      <p>
        <strong>[<%= wuge.send("#{ge}_shuli".to_sym)[:name] %>]</strong> -
        <%= wuge.send("#{ge}_shuli".to_sym)[:desc] %>
        (<%= wuge.send("#{ge}_shuli".to_sym)[:level] %>)
      </p>
    <% end %>
  </div>
  <div class="col-md-6">
    <h4>三才</h4>
    <p class="fw-bold">[<%= wuge.sancai[:element] %>] - <%= wuge.sancai[:level] %></p>
    <p><%= wuge.sancai[:explain] %></p>
  </div>
</div>

<div class="small">
  <h4>五格释义</h4>
  <p><strong>[天格]</strong> 天格由您的姓氏决定的，姓是祖辈流传下来的。它的数理对人生并无直接的影响。因此，天格的吉凶数理不用重视。在测名字的时候，也会有天格的数理吉凶解释，那是对这个数字的解释，本身无太大意义。</p>
  <p><strong>[人格]</strong> 人格十分重要，是这个名字的中心、精髓﹗人格的吉凶，对人的影响很大，就如四柱当是日主一样，是判断名字好坏吉凶的一个标准。</p>
  <p><strong>[地格]</strong> 地格与人格有密切的关系，主要影响人年轻时的命运，地格也比较重要。其数理吉凶，也代表与子女、部属、晚辈的关係。</p>
  <p><strong>[外格]</strong> 外格通常指和社会上的关系的融洽程度。对人生的作用不是很大，在预测当中也很少去用。外格的数理不用重点去看。</p>
  <p><strong>[总格]</strong> 判断名字的吉凶，一般先看总格，再看人格。总格对人的晚运和一生运势均有影响。总格就如植物的根，根好则枝繁叶茂。因此，名字吉凶一定要看总格。</p>
</div>
