<%= form_with model: transform, class: "mb-3" do |form| %>
  <%= form.hidden_field :config %>
  <div class="input-group">
    <%= form.text_field :from, class: "form-control" %>
    <%= form.submit "转换", class: "btn btn-outline-primary" %>
  </div>
<% end %>

<%= tag.div id: "#{transform.config}_result" %>
